div[class*="col"] {
  border: 3px solid white;
}
.verde {
  background-color: greenyellow;
  height: 100px;
}

.rojo {
  background-color: red;
}

.blanco {
  background-color: white;
}

.morado {
  background-color: purple;
  height: 100px;
}

.naranja {
  background-color: orange;
  height: 150px;
}

.azul {
  background-color: blue;
  height: 75px;
}

div#third-row {
  height: 50px;
}
